.CarouselArrow_prevArrowDefault {
    display: block;
    position: absolute;
    z-index: 5;
    --tw-translate-y: -50%;
    border-radius: 9999px;
    border-style: none;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, .08);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

/* .CarouselArrow_preArrowDefault :hover {
    padding: .15rem
} */

.CarouselArrow_prevArrowLarge {
    padding: .5rem
}

/* .CarouselArrow_prevArrowLarge :hover {
    padding: .75rem
} */

.CarouselArrow_prevArrowIntermediate {
    padding: .5rem
}

.CarouselArrow_prevArrowIntermediate :hover {
    padding: .625rem
}

.CarouselArrow_prevArrowMedium {
    padding: 6px
}

.CarouselArrow_prevArrowMedium :hover {
    padding: .5rem
}

.CarouselArrow_prevArrowWhite {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.CarouselArrow_prevArrowBlack {
    background-color: var(--black-opacity-40)
}

.CarouselArrow_nextArrowDefault {
    display: block;
    position: absolute;
    z-index: 5;
    --tw-translate-y: -50%;
    border-radius: 9999px;
    border-style: none;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, .08);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

/* .CarouselArrow_nextArrowDefault :hover {
    padding: .75rem
} */

.CarouselArrow_nextArrowLarge {
    padding: .5rem
}

.CarouselArrow_nextArrowLarge:hover {
    padding: .75rem
}

.CarouselArrow_nextArrowIntermediate {
    padding: .5rem
}

.CarouselArrow_nextArrowIntermediate:hover {
    padding: .625rem
}

.CarouselArrow_nextArrowMedium {
    padding: 6px
}

.CarouselArrow_nextArrowMedium:hover {
    padding: .5rem
}

.CarouselArrow_nextArrowWhite {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.CarouselArrow_nextArrowBlack {
    background-color: var(--black-opacity-40)
}

.CarouselArrow_defaultClass {
    max-height: 100vh;
    max-width: 100vw
}

.CarouselArrow_btnDot {
    background-color: var(--neutral-gray-4);
    border-radius: .75rem;
    height: .375rem;
    width: .375rem
}

.CarouselArrow_btnDot :before {
    --tw-content: none;
    content: var(--tw-content)
}

.CarouselArrow_imageCover {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}